{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>SIP Calculator</title>

    <link rel="stylesheet"
          href="{% static 'calculator/css/style.css' %}">

</head>

<body>

<div class="container">

    <h1>📈 SIP Calculator</h1>

    <form>

        <label>Monthly Investment (₹)</label>
        <input type="number">

        <label>Expected Annual Return (%)</label>
        <input type="number">

        <label>Investment Duration (Years)</label>
        <input type="number">

        <button>Calculate</button>

    </form>

</div>

</body>

</html>