<!DOCTYPE html>
<html>
<head>
    <title>SIP Calculator</title>
</head>
<body>

    <h1>📈 SIP Calculator</h1>

    <p>Welcome to my Django SIP Calculator.</p>

    <hr>

    <form>
        <label>Monthly Investment (₹)</label><br>
        <input type="number"><br><br>

        <label>Expected Annual Return (%)</label><br>
        <input type="number"><br><br>

        <label>Investment Duration (Years)</label><br>
        <input type="number"><br><br>

        <button type="submit">Calculate</button>
    </form>

</body>
</html>